%h2 Ninja Commander fight calculator

- using( Html.BeginForm("Calculator", "Fight") )
  = Html.Label("My Ninja")
  = Html.DropDownList("myNinja", null, new { id = "my_ninja" })
  = Html.Label("The Opponent")
  = Html.DropDownList("opponent", null, new { id = "opponent" })
  = Html.Submit("Calculate")
